#App {
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  max-width: 600px;
}

a:link {
  text-decoration: none;
}

#appcontainer {
  margin: 0 auto;
  min-width: fit-content;
  
  padding: 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
