#App {
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
}

a:link {
  text-decoration: none;
}

p {
  margin: 0rem;
}

#appcontainer {
  min-width: fit-content;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 10px;
  max-width: 400px;
}
