.forecast-card {
  background: rgb(248, 249, 250);
  margin: 0.2rem;
  padding: 0.3rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
}

.card-body {
  padding: 0;
  text-transform: capitalize;
  word-wrap: normal;
  line-height: 1;
  display: flex;
  flex-direction: column;  
}

#temps {
  margin: 0.2rem 0.6rem 0.5rem 0;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  white-space: nowrap;
  text-align: right;
}

.temphigh {
  padding-right: 0.2rem;
}

.templow {
  color: rgb(121, 121, 121);
  border-left: 1px solid rgb(121, 121, 121);
  padding-left: 0.2rem;
}

.details {
  margin-top: auto;
}

