#forecast {
  padding: 0;
  font-size: 0.8rem;
}

#forecast-container {
  display: flex;
  flex-wrap: nowrap;
}

#forecast-loader {
  background: rgb(248, 249, 250);
  margin: 0.2rem;
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  min-height: fit-content;
  vertical-align: middle;
  justify-content: center;
}
