.picker {
  position: relative;
  text-align: left;
}

.swatch {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0.2rem 0.4rem;
  background: rgb(248, 249, 250);
}

.popover {
  position: absolute;
  top: -202px;
  left: 0;
  border-radius: 5px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.swatch:hover {
  border: 1px solid rgb(211, 211, 211);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  background: white;
}
