#temptoggle {
  margin: 0 0 0 2.4rem;
  background: rgb(248, 249, 250);
  padding: 0.2rem 0.4rem;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid #fff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

#temptoggle:hover {
  color: rgb(233, 152, 2);
  cursor: pointer;
  border: 1px solid rgb(211, 211, 211);
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
}

#temptoggle:focus {
  outline: none;
}

#temptoggle:focus:hover {
  color: rgb(233, 152, 2);
}